.api-node-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
  margin: 10px;
  width:40%;
  padding: 0 5px 5px 5px;
  border: 2px solid black;
  height: 120px;
}

.node-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}